*{
    box-sizing: border-box;
 }
 html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(246, 247, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background: rgb(17, 77, 77);
    height: 66px;
}
header * {
    color: white;
}
 header .title {
    float: left;
    margin-left: 8em;
    height: inherit;
    margin-bottom: 10px;
 }

form {
    margin-top: 50px;
    justify-content: space-between;
    
    text-align: center;
    width: 30%;
    height: 650px;
    border-radius: 5px;
}
/* form div {
    margin: 8px;
    padding: 20px;

} */

form .button {
    width: 100px;
    height: 40px;
}

footer {
    background-color: #333;
    font-size: large;
    bottom: 0px;
    justify-content: center;
    color: aliceblue;
}
footer p {
    justify-content: center;
    text-align: center;
    height: inherit;
    margin-bottom: 10px;
 }